{% extends 'base.html' %}


{% block meta %} 

<meta name="robots" content="noindex, follow">
{% endblock meta %}



{% block title %} 
    <title>{{user.username}}'s Profile - {{site_name}}.com</title>
{% endblock title %}



{% block content %}
{% load static %}

<input type="hidden" name="2257" id="page-on" value="user_profile">
<input type="hidden" name="username-" id="username-" value="{{user.username}}">


<div class="banner_section" >
    <div class="main_section">
        <h1>{{site_name}}</h1>

        <div class="user_holding">
            <img src="/static/images/standard_pp.png" alt="user image">
            <h3>{{user.username}}</h3>
        </div>
    </div>
</div>

<div class="user_stuff">
    <div class="left">
        <a href="{% url 'dashboard' %}" style="border-bottom: 2px solid rgb(180, 50, 50);">Home</a>
        <a href="{% url 'videos_uploaded' %}" style="border-bottom: 2px solid #212121;">Videos</a>
        <a href="{% url 'pictures_uploaded' %}" style="border-bottom: 2px solid #212121;">Pictures</a>
        <a href="{% url 'likes' %}" style="border-bottom: 2px solid #212121;">Likes</a>
        <a href="{% url 'submission' %}" style="border-bottom: 2px solid #212121;">Upload</a>
    </div>
    <div class="right">
        <a href="{% url 'user_edit_profile_page' %}">Edit Profile</a>
        <a id="share_user_button" onclick="open_share_tab()"><i class="fa-solid fa-share-nodes"></i> Share</a>
    </div>
</div>


<div class="user_intro">
    <h3>About You</h3>

    {% if pd == 'none' or pd == None %}
        <a href="{% url 'user_edit_profile_page' %}"><i class="fa-solid fa-plus"></i> Tell us about yourself.</a>
    {% else %}
        <p>{{pd}}</p>
    {% endif %}

    <hr>

    <div class="other-info">
        <p>Gender: {{gender}}</p>
        <p>Profile Views: {{profileViews}}</p>
        <p>Email: {{email}} <a href="#">Change</a></p>
        <p>Video Views: {{videoViews}}</p>
    </div>

</div>


<script src="{% static 'js/javascript-cdn-user-share.js' %}"></script>

{% endblock content %}