<div class="newvideos">
    <h3>Newest Videos</h3>

    <hr>
    <div class="video_selection">

        {% for post in videos_page %} 
            <div class="video_sel">
                <a href="{% url 'video' play_id=post.play_id %}">
                    <div class="thumbnail_container">
                        {% if post.mediaType == 'video-w' %}
                            <img src="{{ post.thumbnail }}" class="wide_img" alt="{{ post.title }}" srcset="" loading="lazy">
                        {% else %}
                            <img src="{{ post.thumbnail }}" class="long_img" alt="{{ post.title }}" loading="lazy">
                        {% endif %}
    
                        <div class="player1">
                            {% if post.embedded == 'False' %}
                              <div class="tooltip1">
                                <i class="fa-solid fa-star" id="star-power-exclusive-video"></i>
                                <p class="tooltiptext" id="tooltipText1">{{site_name}} exclusive</p>
                              </div>
                            {% else %}
                            {% endif %}
                            <small>{{post.duration}}</small>
                        </div>
                    </div>
                </a>
        

                <div class="bottom-stuff">
                    <div class="toplayer">
                        <div class="username-star">
                            <h5 class="submission_alert"><span><a href="{% url 'profile_page' username=post.submitted_by %}">{{post.submitted_by}}</a></span></h5>
                            
                        </div>
                        <div class="views-">
                            <i class="fa-regular fa-eye"></i>
                            <small>{{post.total_views}}</small>
                        </div>
                    </div>

                    <h3 class="post-title">{{ post.title }}</h3>
                </div>
            </div>
        {% endfor %}
        
    </div>
</div>


<!-- Pagination links -->
<div class="pagination">
    <span class="step-links">
        {% if videos_page.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ videos_page.previous_page_number }}">previous</a>
        {% endif %}
  
        <span class="current">
            Page {{ videos_page.number }} of {{ videos_page.paginator.num_pages }}.
        </span>
  
        {% if videos_page.has_next %}
            <a href="?page={{ videos_page.next_page_number }}">next</a>
            <a href="?page={{ videos_page.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
  </div>
  
