{% extends 'base.html' %}


{% block meta %} 
    <meta name="description" content="{{ metas.description }}">
    <meta name="rating" content="adult">
    <meta name="application-name" content="{{site_name}}">
    <!-- {% include 'ad_shit/index_banner.html' %} -->
    <script src="https://cdn.jsdelivr.net/gh/Christopher1994-1/gg/app/website/static/js/ad_thingy.js"></script>

{% endblock meta %}



{% block title %} 
    <title>{{ site_name }}.com{{endtitle}}</title>
{% endblock title %}



{% block content %}

    <input type="hidden" name="2257" id="page-on" value="index">

    {% include 'index_things/hero_section.html' %}


    {% if last_video != 'None' and last_video != '1' %}
        {% include 'index_things/returning_user.html' %}

    {% else %}
        {% include 'index_things/new_rated_videos.html' %}
    {% endif %}


    <div data-banner-id="535918" class="index_banner_ad"></div>


{% endblock content %}