<div class="legal_nav">
    <div class="link">
        <a href="{% url 'faq' %}" id="faq">FAQ</a>
    </div>
    <div class="link">
        <a href="{% url 'termsOfUse' %}" id="terms">Terms of Use</a>
    </div>
    <div class="link">
        <a href="{% url 'privacy_policy' %}" id="pp">Privacy Policy</a>
    </div>
    <div class="link">
        <a href="{% url 'DMCA' %}" id="dmca">DMCA</a>
    </div>
    <div class="link">
        <a href="{% url 'DMCA_takedown' %}" id="dmcaTake">DMCA Takedown Form</a>
    </div>
    <div class="link">
        <a href="{% url 'law_2257' %}" id="2257">2257</a>
    </div>
    <div class="link">
        <a href="{% url 'notice' %}" id="notice">Notice</a>
    </div>
</div>