.customalert {
  background-color: rgb(251, 135, 135);
  padding: 5px;
  position: absolute;
  z-index: 500;
  width: 100%;
  transition: ease-out 0.3s;
  z-index: 1000;
}
.customalert h3 {
  color: black;
  font-size: 15px;
}
.customalert button {
  font-size: 10px;
}

.overlynav {
  position: absolute;
  background-color: transparent;
  z-index: 1;
  width: 95%;
  height: 100%;
  margin: auto;
}

.faq_nav {
  display: flex;
  justify-content: space-between;
  width: 35%;
}
.faq_nav .faq_nav_a {
  text-decoration: none;
  color: #5b5b5b;
  font-weight: 600;
  border-bottom: 2px solid rgb(0, 0, 0);
}
.faq_nav .faq_nav_a:hover {
  border-bottom: 2px solid rgb(64, 27, 27);
}

.login_containter {
  width: 70%;
  margin: auto;
  display: flex;
  margin-top: 2%;
  border-radius: 10px;
  position: relative;
  z-index: 200;
}
.login_containter .image-left {
  position: relative;
}
.login_containter .image-left img {
  width: 400px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  filter: brightness(0.5);
}
.login_containter .image-left .social-links {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 60;
}
.login_containter .image-left .social-links p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.login_containter .image-left .social-links i {
  color: white;
  font-size: 20px;
  position: relative;
}
.login_containter .form-stuff {
  padding: 20px;
  width: 100%;
  background-color: #333;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.login_containter .form-stuff h1 {
  color: white;
  font-size: 40px;
}
.login_containter .form-stuff h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.login_containter .form-stuff form {
  display: flex;
  flex-direction: column;
}
.login_containter .form-stuff form input[type=text],
.login_containter .form-stuff form input[type=password] {
  margin-bottom: 20px;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background-color: #222222;
  border-radius: 5px;
  width: 90%;
  color: white;
}
.login_containter .form-stuff form input[type=text]:focus,
.login_containter .form-stuff form input[type=password]:focus {
  outline: none;
  border-bottom: 2px solid white;
}
.login_containter .form-stuff form input[type=submit] {
  padding: 10px;
  border: none;
  width: 90%;
  border-radius: 10px;
  background-color: #cc3a3a;
  color: white;
  font-size: 20px;
}
.login_containter .form-stuff form input[type=submit]:hover {
  background-color: black;
}
.login_containter .form-stuff a {
  color: white;
}
.login_containter .form-stuff p {
  color: white;
}

.mobile_nav {
  justify-content: space-between;
  width: 100%;
  align-items: center;
  display: none;
}
.mobile_nav .first1 i {
  font-size: 22px;
  color: #cc3a3a;
  cursor: pointer;
}
.mobile_nav .second1 a {
  text-decoration: none;
}
.mobile_nav .second1 a p {
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  color: #cc3a3a;
}
.mobile_nav .third1 {
  width: 8%;
  display: flex;
  justify-content: space-between;
}
.mobile_nav .third1 i {
  font-size: 22px;
  color: rgb(178, 178, 178);
  cursor: pointer;
}

#registerH1_section {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 10px;
}
#registerH1_section h1 {
  font-size: 2.5rem;
  color: #cc3a3a;
}
#registerH1_section h2 {
  font-size: 1.5rem;
  color: #666;
}

.register_containter {
  position: relative;
  z-index: 11;
}
.register_containter .register_form form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
}
.register_containter .register_form form button[type=submit] {
  background-color: rgb(204, 58, 58);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register_containter .register_form form button[type=submit]:hover {
  background-color: #000;
}
.register_containter .register_form form input[type=text],
.register_containter .register_form form input[type=password],
.register_containter .register_form form input[type=email] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #222222;
  border-radius: 3px;
  border: none;
  color: white;
  box-sizing: border-box;
  font-size: 16px;
}
.register_containter .register_form form input[type=text]:focus,
.register_containter .register_form form input[type=password]:focus,
.register_containter .register_form form input[type=email]:focus {
  outline: none;
  border-bottom: 2px solid white;
}
.register_containter .register_form form ul {
  display: none;
}
.register_containter .register_form form p {
  color: white;
}
.register_containter .agreeBox {
  margin-top: 4%;
  display: flex;
}
.register_containter .agreeBox input[type=checkbox] {
  margin-right: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 40px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}
.register_containter .agreeBox input[type=checkbox]:checked {
  background-color: #cc3a3a;
  border-color: #cc3a3a;
}
.register_containter .agreeBox label {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
.register_containter .agreeBox label a {
  color: #ffffff;
  text-decoration: underline;
  font-weight: 600;
}
.register_containter .agreeBox label a:hover {
  text-decoration: underline;
}

.error-warning {
  width: 50%;
  margin: auto;
  color: red;
  margin-top: 2%;
  display: none;
}

.creation_form_error {
  width: 50%;
  margin: auto;
  margin-top: 2%;
}

.creation_form_error p {
  color: red;
}

.sidepanel {
  width: 0;
  position: fixed;
  z-index: 201;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #111;
  transition: 0.5s;
  padding-top: 60px;
}
.sidepanel a {
  padding: 10px 20px; /* Give it some breathing room */
  text-decoration: none;
  font-size: 25px;
  font-weight: bold; /* Make it bold like a Brachiosaurus */
  color: #818181;
  border-radius: 5px; /* Smooth corners like a well-polished fossil */
  display: block;
  transition: 0.3s;
}
.sidepanel a:hover {
  color: #f1f1f1;
}
.sidepanel #donatePanel {
  color: #FFD700; /* Pure gold */
}
.sidepanel #donatePanel:hover {
  color: #FFFFFF; /* Shimmering white on hover */
  transition: color 0.3s ease; /* Smooth transition, no jerky movements */
}
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  display: none;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}
.openbtn:hover {
  background-color: #444;
}

.likes-comments {
  width: 97%;
  margin: auto;
  text-align: end;
}
.likes-comments .heart {
  display: flex;
  justify-content: end;
}
.likes-comments .heart .mainHeart {
  cursor: pointer;
  font-size: 25px;
  margin-left: 7px;
  transition: ease-in 0.3s;
  color: #6e6e6e;
}
.likes-comments .heart .mainHeart:hover {
  color: rgb(204, 58, 58);
}
.likes-comments .heart .mainHeartClicked {
  cursor: pointer;
  font-size: 25px;
  margin-left: 7px;
  transition: ease-in 0.3s;
  color: rgb(204, 58, 58);
}
.likes-comments .heart .mainHeartClicked:hover {
  color: #A46877;
}
.likes-comments .heart .commonComment {
  color: #6e6e6e;
  transition: ease-in 0.3s;
  font-size: 25px;
  margin-left: 8px;
  cursor: pointer;
}
.likes-comments .heart .commonComment:hover {
  color: rgb(73, 73, 130);
}

.post_container {
  z-index: 11;
  position: relative;
  border: 2px solid black;
  width: 50%;
  margin: auto;
  margin-top: 2%;
  background-color: #333;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 2%;
}
.post_container .post .edit {
  text-align: end;
  width: 97%;
  margin: auto;
  margin-top: 5px;
  position: relative;
}
.post_container .post .edit i {
  font-size: 20px;
  cursor: pointer;
}
.post_container .post .edit i:hover {
  background-color: #525252;
  border-radius: 30%;
}
.post_container .post .edit .settingsDropdown {
  position: absolute;
  right: 20;
  padding: 5px;
  background-color: rgb(239, 239, 239);
  top: 0;
  display: none;
}
.post_container .post .edit .settingsDropdown a {
  color: black;
  text-decoration: none;
}
.post_container .post .edit .settingsDropdown a:hover {
  text-decoration: underline;
}
.post_container .post .main-post {
  width: 97%;
  margin: auto;
}
.post_container .post .main-post img {
  width: 80%;
}
.post_container .post .main-post iframe {
  border: 2px solid white;
  height: 400px;
}
.post_container .post .main-post a {
  color: #6e6e6e;
  text-decoration: none;
  transition: ease-in 0.3s;
}
.post_container .post .main-post a:hover {
  color: #818181;
  text-decoration: underline;
}
.post_container .post hr {
  color: white;
  width: 97%;
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
}
.post_container .post .likes-comments {
  width: 97%;
  margin: auto;
  text-align: end;
}
.post_container .post .likes-comments .heart {
  display: flex;
  justify-content: end;
}
.post_container .post .likes-comments .heart .mainHeart {
  cursor: pointer;
  font-size: 25px;
  margin-left: 7px;
  transition: ease-in 0.3s;
  color: #6e6e6e;
}
.post_container .post .likes-comments .heart .mainHeart:hover {
  color: rgb(204, 58, 58);
}
.post_container .post .likes-comments .heart .mainHeartClicked {
  cursor: pointer;
  font-size: 25px;
  margin-left: 7px;
  transition: ease-in 0.3s;
  color: rgb(204, 58, 58);
}
.post_container .post .likes-comments .heart .mainHeartClicked:hover {
  color: #A46877;
}
.post_container .post .likes-comments .heart .commonComment {
  color: #6e6e6e;
  transition: ease-in 0.3s;
  font-size: 25px;
  margin-left: 8px;
  cursor: pointer;
}
.post_container .post .likes-comments .heart .commonComment:hover {
  color: rgb(73, 73, 130);
}

.heartUnliked_s {
  display: none;
}

.heartLiked1 {
  display: none;
}

.side-panel-fixed {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 5;
  width: 25%;
  display: flex;
  justify-content: center;
}
.side-panel-fixed a {
  display: inline-block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-decoration: none;
  color: white;
  background-color: rgb(204, 58, 58); /* Cool red background color */
  border-radius: 5px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.side-panel-fixed a:hover {
  background-color: darkred; /* Darker red on hover */
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 510;
}
.popup .popup-content {
  background: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.popup .popup-content h2 {
  margin-bottom: 10px;
}
.popup .popup-content p {
  margin-bottom: 20px;
}
.popup .popup-content button {
  padding: 10px 20px;
  background: #3498db;
  color: #ecf0f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}
.popup .popup-content button:hover {
  background: #2980b9;
}
.popup .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #ecf0f1;
  cursor: pointer;
}

.popup_message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 510;
}
.popup_message .popup-content {
  background: #2c3e50;
  color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.popup_message .popup-content h2 {
  margin-bottom: 10px;
}
.popup_message .popup-content p {
  margin-bottom: 20px;
}
.popup_message .popup-content button {
  padding: 10px 20px;
  background: #3498db;
  color: #ecf0f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}
.popup_message .popup-content button:hover {
  background: #2980b9;
}
.popup_message .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #ecf0f1;
  cursor: pointer;
}

#improveForm #improve-input {
  display: flex;
  flex-direction: column;
  width: 70%;
}
#improveForm #improve-input input[type=text] {
  background-color: #1d1d1d;
  padding: 10px;
  border: none;
  border-bottom: 2px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
  color: white;
}
#improveForm #improve-input input[type=text]:focus {
  outline: none;
  border-bottom: 2px solid #cc3a3a;
}
#improveForm #improve-input textarea {
  background-color: #1d1d1d;
  padding: 10px;
  border-radius: 3px;
  border: none;
  border-bottom: 2px solid black;
  resize: none;
  margin-bottom: 0px;
  color: white;
}
#improveForm #improve-input textarea:focus {
  outline: none;
  border-bottom: 2px solid #cc3a3a;
}
#improveForm #improve-input input[type=submit] {
  background-color: #cc3a3a;
  padding: 10px;
  border-radius: 3px;
  border: none;
  margin-bottom: 10px;
  color: white;
  font-weight: 600;
}
#improveForm #improve-input input[type=submit]:hover {
  background-color: white;
  color: black;
}
#improveForm #improve-input .improve-tags {
  margin-bottom: 10px;
  margin-top: 0px;
}
#improveForm #improve-input .improve-tags button {
  width: 15%;
  background-color: rgb(101, 101, 101);
}
#improveForm #improve-input .improve-tags button:hover {
  background-color: #cc3a3a;
  color: black;
  font-weight: 600;
}
#improveForm #improve-thankyou {
  display: none;
}

.entryWarning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.93);
  justify-content: center;
  align-items: center;
  z-index: 500;
  display: flex;
}
.entryWarning .popup-content {
  background: #292929;
  color: #ecf0f1;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}
.entryWarning .popup-content .linksBi {
  color: #cc3a3a;
  font-weight: 600;
}
.entryWarning .popup-content h2 {
  margin-bottom: 10px;
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}
.entryWarning .popup-content p {
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: default;
}
.entryWarning .popup-content button {
  padding: 10px 20px;
  background: #717597;
  color: #ecf0f1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.3s;
}
.entryWarning .popup-content button:hover {
  background: #000000;
}
.entryWarning .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #ecf0f1;
  cursor: pointer;
  visibility: hidden;
}
.entryWarning .button_bit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.entryWarning .button_bit img {
  width: 100px;
}

nav {
  background-color: #000000;
  color: #fff; /* Text color */
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  z-index: 200;
  border-bottom: 2px solid #333;
}
nav .first {
  margin-left: 10px;
  border: none;
}
nav .first a {
  text-decoration: none;
}
nav .first a h1 {
  font-size: 30px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(204, 58, 58);
}
nav .first img {
  width: 40px;
}
nav .search {
  width: 50%;
}
nav .search form {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
nav .search form input {
  width: 550px;
  border: none;
  padding: 8px;
  background-color: #555; /* Darker shade */
  color: #fff; /* Text color */
  border-radius: 4px;
}
nav .search form input::-moz-placeholder {
  color: white;
}
nav .search form input::placeholder {
  color: white;
}
nav .search form button {
  border: none;
  color: white;
  background-color: transparent;
  font-size: 20px;
}
nav .last {
  margin-right: 10px;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .last ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-around;
  width: 80%;
}
nav .last ul li {
  font-size: 15px;
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition */
  cursor: pointer;
}
nav .last ul li a {
  font-size: 15px;
  color: #fff; /* Text color */
  text-decoration: none; /* Remove underline */
  transition: color 0.3s ease; /* Smooth transition */
}
nav .last ul li a:hover {
  color: #bbb; /* Lighter shade on hover */
}
nav .last ul li:hover {
  color: #bbb; /* Lighter shade on hover */
}
nav .last button {
  border: none;
  color: white;
  background-color: transparent;
  font-size: 20px;
}
nav .last #hamburgerPie {
  display: none;
}

footer {
  margin-top: 2%;
  position: relative;
  z-index: 250;
  color: white;
  border-top: 2px solid #333;
}
footer .sections {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
footer .sections .footer-left {
  text-align: left;
  padding: 5px;
  color: #cc3a3a;
}
footer .sections .footer-left h3 {
  margin-bottom: 0;
}
footer .sections .footer-left a {
  color: white;
  text-decoration: none;
  margin-top: 0;
}
footer .sections .footer-left a:hover {
  text-decoration: underline;
  color: rgb(180, 50, 50);
}
footer .sections .footer-center {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
}
footer .sections .footer-center .ulthing {
  display: flex;
  flex-direction: column;
}
footer .sections .footer-center .ulthing a {
  color: #cc3a3a;
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 5px;
}
footer .sections .footer-center .ulthing a:hover {
  color: white;
  text-decoration: underline;
}
footer .sections .footer-right {
  text-align: left;
  padding: 10px;
}
footer .sections .footer-right .footer-icons {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
}
footer .sections .footer-right .footer-icons #discordFooter {
  display: flex;
  align-items: center;
  color: white;
  border: 2px solid white;
  padding: 10px;
  text-decoration: none;
  width: 120px;
  justify-content: space-around;
  border-radius: 10px;
}
footer .sections .footer-right .footer-icons #discordFooter i {
  font-size: 20px;
}
footer .sections .footer-right .footer-icons img {
  width: 100px;
}
footer .bottom_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 20px;
}
footer .mobile_footer {
  display: none;
}
footer .mobile_footer h3 {
  color: #cc3a3a;
}
footer .mobile_footer .top2 {
  text-align: center;
}
footer .mobile_footer .top2 .thing101 {
  display: flex;
  border-bottom: 2px solid #333;
  width: 70vw;
  margin: auto;
  justify-content: space-around;
  margin-bottom: 10px;
}
footer .mobile_footer .top2 .thing101 a {
  text-align: center;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}
footer .mobile_footer .first_area {
  width: 97%;
  margin: auto;
}
footer .mobile_footer .sidenav button {
  background-color: #000;
  color: #a1a1a1;
  font-weight: 700;
  border: none;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2px;
}
footer .mobile_footer .sidenav .dropdown-container1 {
  display: none;
  background-color: #000000;
  padding-left: 8px;
}
footer .mobile_footer .sidenav .dropdown-container1 a {
  text-decoration: none;
  color: #cc3a3a;
  width: -moz-fit-content;
  width: fit-content;
}
footer .mobile_footer .sidenav .dropdown-container2 {
  display: none;
  background-color: #000000;
  padding-left: 8px;
}
footer .mobile_footer .sidenav .dropdown-container2 a {
  text-decoration: none;
  color: #cc3a3a;
  width: -moz-fit-content;
  width: fit-content;
}
footer .mobile_footer .disocrdd {
  background-color: black;
  padding: 20px;
  text-align: center;
}
footer .mobile_footer .disocrdd a {
  color: white;
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid white;
  border-radius: 5px;
  transition: all 0.3s ease;
}
footer .mobile_footer .disocrdd a:hover {
  background-color: white;
  color: black;
}
footer .mobile_footer .disocrdd a i {
  margin-right: 10px;
}
footer .mobile_footer .bottom {
  text-align: center;
  display: flex;
  flex-direction: column;
}
footer .mobile_footer .bottom small {
  padding: 0;
  margin: 0;
}
footer .mobile_footer .bottom img {
  width: 70px;
}

.dropdown-search {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: #333;
  padding: 10px;
  z-index: 202;
  width: 350px;
  width: 29%;
  margin-left: 5px;
  border: 1px solid white;
  display: none;
}
.dropdown-search a {
  color: white;
}
.dropdown-search hr {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
}
.dropdown-search small {
  color: rgb(178, 173, 173);
}

.popup2 {
  position: fixed;
  z-index: 99;
  height: 100%;
  top: 67;
  right: 0;
  background-color: #111;
  width: 20%;
}
.popup2 a {
  margin-top: 10;
  font-size: 25px;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
  color: white;
  text-decoration: none;
}
.popup2 #popupPremium {
  color: #FFD700; /* Pure gold */
}
.popup2 #popupPremium:hover {
  color: #FFFFFF; /* Shimmering white on hover */
  transition: color 0.3s ease; /* Smooth transition, no jerky movements */
}

.maintenance {
  padding: 50px;
}
.maintenance h1 {
  font-size: 2.5em;
  color: rgb(0, 0, 0);
  border-radius: 10px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2);
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  font-weight: bold;
}
.maintenance h2 {
  font-size: 1.5em;
  color: #000000;
  line-height: 1.5;
  width: 30%;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

#maintainceBody {
  background-image: url("https://res.cloudinary.com/dyzidhqli/image/upload/v1707013373/worthless1_tztcya.jpg");
  background-size: cover;
  background-position: center;
}

.main_hero {
  position: relative;
  z-index: 200;
  margin: auto;
  margin-top: 3px;
  background-color: #000000;
  padding: 15px;
  width: 95%;
  height: 180px;
}
.main_hero h1 {
  color: white;
  margin-top: 10px;
}
.main_hero h2 {
  font-size: 15px;
  color: white;
  margin-top: 10px;
  margin-bottom: 20px;
}
.main_hero a {
  color: white;
  text-decoration: none;
  background-color: #cc3a3a;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  transition: ease-in 0.3s;
  font-weight: 600;
}
.main_hero a:hover {
  color: black;
  background-color: white;
}
.main_hero a:hover i {
  color: rgb(180, 50, 50);
}

.cn_se {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 95%;
  margin: auto;
  margin-top: 5px;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.cn_se .links {
  background-color: #4B4D52;
  text-align: center;
  width: 100%;
}
.cn_se .links a {
  color: white;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 20px;
  position: relative;
  z-index: 200;
  transition: ease-in 0.3s;
}
.cn_se .links a:hover {
  color: rgb(180, 50, 50);
}

.before_contiuning {
  background-image: url("/static/mainMedia/beforeenter.jpg"); /* Replace 'background-image.jpg' with your image file path */
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 200;
  width: 95%;
  height: 400px;
  margin: auto;
  margin-top: 5px;
  display: none;
}

.newvideos {
  width: 95%;
  margin: auto;
  position: relative;
  z-index: 200;
  margin-top: 5px;
  margin-bottom: 10px;
}
.newvideos h3 {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  cursor: default;
  margin-bottom: 10px;
}
.newvideos h3 .video_type_icon {
  color: #cc3a3a;
  font-size: 15px;
}
.newvideos hr {
  color: #5d5c5c;
  height: 2px;
  margin-top: 0px;
}
.newvideos .video_selection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 0px;
  margin-bottom: 10px;
}
.newvideos .video_selection .post-title {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  cursor: default;
  margin-bottom: 0px;
  margin-left: 0px;
  font-size: 13px;
}
.newvideos .video_selection .video_sel {
  padding: 0px;
  width: 100%;
}
.newvideos .video_selection .video_sel .thumbnail_container {
  background-color: #0c0c0c;
  text-align: center;
  position: relative;
  transition: ease-in 0.3s;
  border: 2px solid transparent;
}
.newvideos .video_selection .video_sel .thumbnail_container .wide_img {
  width: 100%;
  height: 170px;
}
.newvideos .video_selection .video_sel .thumbnail_container .long_img {
  width: 120px;
  height: 170px;
}
.newvideos .video_selection .video_sel .thumbnail_container:hover {
  border: 2px solid rgb(180, 50, 50);
}
.newvideos .video_selection .video_sel .stuff .user-views {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.newvideos .video_selection .video_sel .stuff .user-views .main-views {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.newvideos .video_selection .video_sel .stuff .user-views .main-views small {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.598);
}
.newvideos .video_selection .video_sel .submission_alert {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  cursor: default;
  margin-top: 10px;
  font-size: 15px;
}
.newvideos .video_selection .video_sel .submission_alert a {
  color: rgb(224, 224, 224);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
.newvideos .video_selection .video_sel .bottom-stuff {
  margin-top: 0px;
  padding-bottom: 10px;
}
.newvideos .video_selection .video_sel .bottom-stuff .toplayer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newvideos .video_selection .video_sel .bottom-stuff .toplayer h5 {
  padding: 0px;
  margin: 0px;
  font-size: 13px;
}
.newvideos .video_selection .video_sel .bottom-stuff .toplayer h5 a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.488);
  font-weight: 200;
}
.newvideos .video_selection .video_sel .bottom-stuff .toplayer h5 a:hover {
  color: rgba(255, 255, 255, 0.721);
}
.newvideos .video_selection .video_sel .bottom-stuff .toplayer .views- {
  display: flex;
  align-items: center;
}
.newvideos .video_selection .video_sel .bottom-stuff .toplayer .views- i {
  color: rgba(255, 255, 255, 0.488);
  font-size: 13px;
}
.newvideos .video_selection .video_sel .bottom-stuff .toplayer .views- small {
  color: rgba(255, 255, 255, 0.488);
  font-size: 13px;
  margin-right: 2px;
  margin-left: 2px;
}
.newvideos .video_selection .video_sel .bottom-stuff p {
  margin: 0px;
  padding: 0px;
}
.newvideos .more_videos_search {
  background-color: #cc3a3a;
  color: white;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
  text-decoration: none;
}
.newvideos .more_videos_search:hover {
  background-color: rgb(180, 50, 50);
}

.trending-tags {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}
.trending-tags h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: white;
  display: flex;
  align-items: center;
}
.trending-tags h3 .fa-tag {
  margin-left: 5px;
  font-size: 1rem;
  color: #cc3a3a;
}
.trending-tags .ttags {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
}
.trending-tags .ttags a {
  padding: 5px 10px;
  margin: 5px;
  background-color: #333;
  color: #fff;
  border-radius: 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}
.trending-tags .ttags a:hover {
  background-color: rgb(180, 50, 50);
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
  z-index: 200;
}
.pagination .step-links {
  display: flex;
  align-items: center;
}
.pagination .step-links a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.pagination .step-links a:hover {
  background-color: #f0f0f0;
  color: black;
}
.pagination .step-links .current {
  padding: 5px 10px;
  margin: 0 5px;
  font-weight: bold;
  color: white;
}

.categories_div {
  position: fixed;
  top: 9%;
  right: 150;
  z-index: 400;
  width: 40%;
  background-color: rgb(19, 19, 19);
  border-radius: 3px;
  z-index: 202;
  max-height: 300px;
  padding: 10px;
  max-width: 200px;
  overflow: auto;
}
.categories_div h5 {
  font-size: 20px;
  color: white;
  padding: 0;
  margin-bottom: 0;
}
.categories_div hr {
  color: white;
  margin-top: 0;
}
.categories_div .tags {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.categories_div .tags a {
  color: white;
  text-decoration: none;
  margin-top: 5px;
}
.categories_div .tags a:hover {
  color: rgb(180, 50, 50);
  text-decoration: underline;
}

/* For WebKit-based browsers (Chrome, Safari, Opera) */
.categories_div::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.categories_div::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.categories_div::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
}

.categories_div::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}

.account_setting_popup {
  position: fixed;
  top: 11%;
  right: 0;
  z-index: 400;
  width: 25%;
  background-color: rgb(19, 19, 19);
  border-radius: 3px;
}
.account_setting_popup .account_selection {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
}
.account_setting_popup .account_selection .bubblepop {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.account_setting_popup .account_selection .bubblepop a {
  margin: 0;
  color: white;
  cursor: pointer;
  text-decoration: none;
}
.account_setting_popup .account_selection .bubblepop i {
  height: 45px;
  width: 50px;
  border-radius: 50%;
  padding: 10px;
  justify-content: center;
  text-align: center;
  background-color: #1d1d1d;
  color: white;
  cursor: pointer;
}
.account_setting_popup .account_selection .bubblepop .underling {
  margin-top: 0px;
}
.account_setting_popup .other {
  margin-top: 5px;
}
.account_setting_popup .other .area_select {
  background-color: #222222;
  margin-bottom: 5px;
  transition: ease-in 0.4s;
}
.account_setting_popup .other .area_select i {
  color: rgb(168, 168, 168);
  margin-left: 3px;
  font-size: 20px;
}
.account_setting_popup .other .area_select a {
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-weight: 100;
}
.account_setting_popup .other .area_select:hover {
  background-color: #262626;
}

.userForm_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.93);
  justify-content: center;
  align-items: center;
  z-index: 500;
  display: flex;
}
.userForm_overlay .form_container {
  background-color: #1d1d1d;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
}
.userForm_overlay .form_container form {
  display: flex;
  flex-direction: column;
}

.contact-div {
  width: 60%;
  margin: auto;
  display: flex;
  margin-top: 2%;
  border-radius: 10px;
  position: relative;
  z-index: 200;
}
.contact-div .image-left {
  position: relative;
}
.contact-div .image-left img {
  width: 400px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  filter: brightness(0.5);
}
.contact-div .image-left .social-links {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 60;
}
.contact-div .image-left .social-links p {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  font-weight: bold;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
.contact-div .image-left .social-links i {
  color: white;
  font-size: 20px;
  position: relative;
}
.contact-div .form-stuff {
  background-color: #333;
  width: 100%;
  padding: 15px;
}
.contact-div .form-stuff h1 {
  color: #cc3a3a;
  font-size: 25px;
}
.contact-div .form-stuff h2 {
  color: #cc3a3a;
  font-size: 15px;
  margin-bottom: 20px;
}
.contact-div .form-stuff form {
  display: flex;
  flex-direction: column;
}
.contact-div .form-stuff form input[type=text],
.contact-div .form-stuff form input[type=email] {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background-color: #222222;
  border-radius: 5px;
  width: 90%;
  color: white;
}
.contact-div .form-stuff form input[type=text]:focus,
.contact-div .form-stuff form input[type=email]:focus {
  border-bottom: 2px solid white;
  outline: none;
}
.contact-div .form-stuff form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: none;
  background-color: #222222;
  border-radius: 5px;
  width: 90%;
  color: white;
  resize: none;
}
.contact-div .form-stuff form textarea :focus {
  outline: none;
  border-bottom: 2px solid white;
}
.contact-div .form-stuff form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 90%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  background-color: #cc3a3a;
}
.contact-div .form-stuff form button:hover {
  background-color: black;
}

.secondry_dropdown {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin: auto;
  background-color: #141414;
}
.secondry_dropdown .dropdown {
  background-color: transparent;
  border: 1px solid transparent;
}
.secondry_dropdown .dropdown button {
  background-color: transparent;
  border: 1px solid transparent;
}
.secondry_dropdown .dropdown button:hover {
  border: 1px solid grey;
}
.secondry_dropdown .dropdown ul {
  background-color: #1c1c1c;
  border: 2px solid white;
  position: relative;
}
.secondry_dropdown .dropdown ul li a {
  color: white;
  cursor: pointer;
}
.secondry_dropdown .dropdown ul li a:hover {
  background-color: #333;
}
.secondry_dropdown .dropdown ul li:hover {
  background-color: #333;
}
.secondry_dropdown .dropdown .other-menu .menu_large {
  display: flex;
  justify-content: space-around;
  width: 1340px;
}
.secondry_dropdown .dropdown .other-menu .menu_large .list {
  display: flex;
  flex-direction: column;
}
.secondry_dropdown .dropdown .other-menu .menu_large .list a {
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.secondry_dropdown .dropdown .other-menu .menu_large .list a i {
  font-size: 10px;
  color: #cc3a3a;
  margin-left: 2px;
}
.secondry_dropdown .dropdown .other-menu .menu_large .list a:hover {
  color: #cc3a3a;
}
.secondry_dropdown a {
  background-color: transparent;
  color: white;
  text-decoration: none;
  border: 1px solid transparent;
  font-family: Arial, Helvetica, sans-serif;
}
.secondry_dropdown #ev_heart {
  color: #cc3a3a;
}
.secondry_dropdown #ppth {
  background-color: #cc3a3a;
  padding: 3px;
  border-radius: 10px;
  padding-left: 15px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding-right: 15px;
}

.player1 {
  position: absolute;
  bottom: 1;
  right: 5;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
}
.player1 .tooltip1 {
  padding: 0px;
  margin: 0px;
  z-index: 100;
  position: relative;
}
.player1 .tooltip1 i {
  padding: 0;
  margin: 0;
  color: rgb(233, 23, 23);
  font-size: 12px;
  margin-right: 2px;
}
.player1 .tooltip1 i:hover + .tooltiptext {
  opacity: 1;
}
.player1 .tooltip1 .tooltiptext {
  padding: 0px;
  margin: 0px;
  position: absolute;
  width: 150px;
  right: 0;
  bottom: 20;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  line-height: 1.4;
  text-align: center;
  padding: 8px;
  font-size: 14px;
  opacity: 0;
  transition: ease-in 0.3s;
}
.player1 small {
  background-color: #333333;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
}

.index_banner_ad {
  width: 60%;
  margin: auto;
  height: 140px;
  margin-top: 3%;
  position: relative;
  z-index: 1000;
}/*# sourceMappingURL=main.css.map */